* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
.titleFont {
    font-family: 'Potta One', cursive;
}

h1 {
    font-size: 48px;
}

#initialDiv {
    padding: 40px;
    width: 300px;
    background-image: url("images/akatsuki.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#foodDetectedButton {
    font-family: 'Potta One', cursive;
    background-color: #ff9966;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    cursor: pointer;
}

#showRecipesButton {
    font-family: 'Potta One', cursive;
    background-color: #00802b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    cursor: pointer;
}

#foodDetectedButton:hover {
    background-color: #ff5500;
}

#showRecipesButton:hover {
    background-color: #004d1a;
}

#screenshot {
    display: none;
}

.screenshot {
    width: 100%;
    height: auto;
}

#recipesDiv {
    display: none;
    color: black;
    padding: 40px;
    width: 300px;
}

#foodTable td {
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 30px;
}

.centerMe {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.centerMe a {
    color: white;
}